.errorBoundary {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;

  height: 100vh;
  padding: 20px;

  text-align: center;
}

.errorBoundary div {
  overflow: auto;

  max-width: 100%;
  padding: 12px;

  font-size: 12px;
  color: #ff4d4f;
}
