.popover {
  scrollbar-color: color-mix(in srgb, var(--foreground) 38%, transparent)
    transparent;
  scrollbar-width: thin;

  position: fixed;
  position-anchor: var(--popover-anchor-name);
  position-area: bottom left;
  position-try-fallbacks:
    flip-block,
    flip-inline,
    flip-block flip-inline;

  overflow: auto;

  box-sizing: border-box;
  min-width: anchor-size(width);
  max-width: min(320px, calc(100vw - 16px));
  margin: 0;
  margin-top: 8px;
  padding: 2px;
  border: 1px solid var(--popover-border);
  border-radius: calc(var(--control-border-radius, 4px) + 4px);

  color: var(--foreground);

  background-color: var(--popover-background);
  box-shadow: 0 18px 32px -18px rgba(0, 0, 0, 0.5);
}

.popover:popover-open {
  display: grid;
  gap: 2px;
}
