.errorMessage {
  composes: bubble from "./../messageShared.module.css";

  display: flex;
  gap: 8px;
  align-items: center;
  align-self: flex-start;

  color: var(--message-error-foreground);
}

.retryButton {
  composes: buttonReset from "@/sidepanel/app/components/shared.module.css";
  text-decoration: underline;
}

.retryButton:disabled {
  cursor: default;
  opacity: var(--disabled-opacity);
}
