.selector {
  flex-shrink: 1;

  & button {
    padding: 0 2px 0 4px;
  }

  & [data-el-value] {
    font-size: var(--font-size-sm);
  }
}

.selectorPopover {
  position-area: top center;
  position-try-fallbacks: flip-inline;
  justify-self: start;
  width: 260px;
}

.searchInput {
  width: stretch;
  margin: 0 6px;
}
