.input {
  flex: 1;

  box-sizing: border-box;
  min-height: var(--control-height, 24px);
  padding: 0 4px;
  border: 1px solid var(--input-border);
  border-radius: var(--control-border-radius, 4px);

  font-family: inherit;
  font-size: var(--font-size-base);
  color: var(--input-foreground);

  background-color: var(--input-background);
}

.input:focus {
  border-color: var(--input-option-active-border);
  outline: none;
}

.input.transparent {
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.input.transparent:focus {
  border-color: transparent;
}

.input::placeholder {
  color: var(--input-placeholder-foreground);
}
